.layout {
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-rows: 100vh;
  background-color: var(--background);
}

.content {
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: auto;
}
 
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary);
  padding: 0 1rem;
  color: var(--accent);
  font-weight: bolder;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--primary);
  box-shadow: 100px;
}