
.overlay {
  padding-top: 10%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.5);
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;
}

.close {
  cursor: pointer;
}


.modal {
  background-color: var(--primary);
}

.modal, .modal strong, .modal-title {
  color: white
}
