.nav {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
}

.logo {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--blue);
}

.logo-text {
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  color: #E0E1E0;
}

.item:hover {
  color: var(--blue);
  border-left: 1px solid var(--blue);
}

.selected {
  border-left: 1px solid var(--blue);
}