.detail-header {
  border-bottom: solid 1px white;
}

.detail-footer {
  border-top: solid 1px white;
}

.dish {
  border-bottom: solid 1px gray;
}

.delete {
  cursor: pointer;
}

.add {
  color: var(--accent);
  cursor: pointer;
}

.submit {
  color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit:hover {
  cursor: pointer;
}