
.background {
  background-color: var(--primary);
  color: white;
  overflow: hidden;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .5rem 0;
  color: white;
}

.error {
  position: fixed;
  top: 10;
}