
.table {
  background-color: var(--primary);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.table:hover {
  transform: scale(1.04, 1.04);
  transition: 250ms;
  border: 1px solid var(--accent);
}

.header {
  font-weight: bold;
  font-size: 1.3rem;
  border-bottom: 1px solid gray;
  width: 100%;
  text-align: center;
}

.body {
  padding: 1rem 0;
}

.footer {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taken {
  color: yellow;
}

.available {
  color: green;
}